.idea
/clientt/node_modules
/clientt/.pnp
/clientt/.pnp.js


/coverage

/build

/clientt/.DS_Store
/clientt/.env.local
/clientt/.env.development.local
/clientt/.env.test.local
/clientt/.env.production.local

/clientt/npm-debug.log*
/clientt/yarn-debug.log*
/clientt/yarn-error.log*

/server/node_modules